<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t]: %m%n" />
		</Console>
		<RollingFile name="logfile" fileName="log/error.log" filePattern="log/error-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout pattern="%d %-5p [%t]: %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="console" level="debug" />
			<AppenderRef ref="logfile" level="error" />
		</Root>
	</Loggers>
</Configuration>
