.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Verdana";
    -fx-hgap: 5px;
    -fx-vgap: 5px;
   	-fx-padding: 5px; 
}

.borderPane {

}

.view {
	-fx-padding: 0px;
}

.view-content {
	-fx-padding: 0px;
}

.founding-panel {
}

.founding-panel-headline {
   	-fx-padding: 5px; 
    -fx-alignment: top-left;
}

.headline-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
    -fx-alignment: center;
    -fx-underline: true;
}


.tile-pane{

}

.info-panel {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
   	-fx-padding: 5px; 
    -fx-alignment: top-center;
    -fx-orientation: vertical;
    -fx-border-insets: 0 5 0 5;
    -fx-border-color: lightgray;
}

.entry-tab {

}

.entry-tab-pane {
	-fx-padding: 0px;
}

.entry-tree-item {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}