.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Verdana";
    -fx-hgap: 5px;
    -fx-vgap: 5px;
    -fx-padding: 5px; 
}

.headline-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
    -fx-alignment: center;
    -fx-underline: true;
}

.empty-panel {
    -fx-padding: 0px;
    -fx-hgap: 0px;
    -fx-vgap: 0px;
}

.panel {
    -fx-padding: 5px; 
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

.border-panel {
    -fx-padding: 5px; 
    -fx-hgap: 5px;
    -fx-vgap: 5px;
    -fx-border-color: lightgray;
}

.text-field:readonly {
    -fx-background-color: #ddd;
}
